.menu{
    background-color: aliceblue;
}

.responsivemenu{
    position: absolute;
    z-index: 9999;
}

:root{
    --body-fundo: #ffff;
    --color-text: #2B2F42;
    --general-divs: #F7F6FC;
    --background-gradient: #2B2F4230;
    --background-gradient-hover: #16181f35;
    --color-icons:#2B2F42;
}

.dark-mode:root{
    --body-fundo: #1A1C28;
    --color-text: #ffff;
    --general-divs: #2B2F42;
    --background-gradient: #4472C430;
    --background-gradient-hover: #4472C435;
    --color-icons:#4472C4;
}

body{
    background-color: var(--body-fundo);
    color: var(--color-text);
}

#sidebar, .divs-graphcs-big, .divs-graphcs-small,   #sidebar .custom-menu .btn.btn-primary:after{
    background-color: var(--general-divs);
}

.btn-primary{
    color: var(--color-text);
}

#sidebar ul li a span, #sidebar ul li a {
    color: var(--color-icons);
}


.divs-graphcs-big{
    height: 100%;
}

.divs-graphcs-small{
    height: 75%;
}

.color-text{
    color: var(--color-text);
}

.li-active{
    background-color: var(--background-gradient);
    border-right: 1px solid var(--color-icons);
}

#imgLogo img{
    width: 50%;
}

#sidebar ul li a:hover {
    color: var(--general-divs); 
}
    
#sidebar ul li a:hover > span {
      color: var(--general-divs); 
}

#sidebar ul li:hover{
    background-color: var(--background-gradient-hover);
}


/* botao dark-mode */

.buttonDark{
    position: relative;
}

.check{
    /* position: relative;
    top: 5%;
    left: 7%; */
    position: relative;
    background: var(--general-divs);
    cursor: pointer;
    /* border-radius: 20px; */
    /* overflow: hidden; */
    transition: ease-in-out 0.5s;
    height: 4vh;
    border-radius: 20px;
}

.check:before{
    content: '';
    position: absolute;
    top: 10%;
    left: 5%;
    background: var(--body-fundo);
    width: 45%;
    height: 80%;
    border-radius: 20px;
    transition: 0.5s;
}

#switch:checked ~ .check:before{
    transform: translateX(98%);
}

#switch{
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}
