.menu{
    background-color: aliceblue;
}

.responsivemenu{
    position: absolute;
    z-index: 9999;
}

:root{
    --body-fundo: #ffff;
    --color-text: #2B2F42;
    --general-divs: #F7F6FC;
    --background-gradient: #2B2F4209;
    --color-icons:#2B2F42;
}

.dark-mode:root{
    --body-fundo: #1A1C28;
    --color-text: #ffff;
    --general-divs: #2B2F42;
    --background-gradient: #4472C409;
    --color-icons:#4472C4;
}

body{
    background-color: var(--body-fundo);
    color: var(--color-text);
}

#sidebar, .divs-graphcs-big, .divs-graphcs-small,   #sidebar .custom-menu .btn.btn-primary:after{
    background-color: var(--general-divs);
}

.btn-primary{
    color: var(--color-text);
}

#sidebar ul li a span, #sidebar ul li a {
    color: var(--color-icons);
}

#sidebar ul li a span, #sidebar ul li a {
    color: var(--color-icons);
}

.divs-graphcs-big{
    height: 100%;
}

.divs-graphcs-small{
    height: 75%;
}

.color-text{
    color: var(--color-text);
}

.li-active{
    background-color: var(--background-gradient);
    border-right: 1px solid var(--color-text);
}

#imgLogo img{
    width: 50%;
}


/* botao dark-mode */

.check{
    /* position: relative;
    top: 5%;
    left: 7%; */

    background: #1986ff;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in-out 0.5s;
}

.check:before{
    content: '';
    position: absolute;
    top: 0;
    left: -2px;
    background: #fffffff1;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: 0.5s;
}

#switch:checked ~ .check:before{
    transform: translateX(25px);
    background: #070c08ef;
}

#switch{
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}
