.div-image img{
    width: 100%;
}

body{
    background-color: rgb(240, 228, 240);
}


#inicio {
    background-image: url(./img/fundo.png);
    background-size: cover;
}

#sobre{
    background-color: white;
}

.icon{
    width: 60%;
}
